.nav {
    grid-area: nav;
    background-color: #E5E5E5;
    padding: 10px;
}
.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: rgb(0, 3, 185);
    font-weight: bold;
}