.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
    "header header"
    "nav content";
  grid-gap: 10px;
}
.header{
  grid-area: header;
  background-color: coral;
}
.header img {
  padding: 7px;
  width: 90px;
}
.nav{
  grid-area: nav;
  background-color:aquamarine;
}
.content{
  grid-area: content;
  background-color: blueviolet;
}
.content img {
  width: 100%;
}
.avatar img {
  width: 60px;
  border-radius: 50%;
}