.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;
}
.dialog a {
    color: white;
    text-decoration: none;
}

.dialog a.active {
    color: rgb(0, 3, 185);
    font-weight: bold;
}
.messages{
    padding: 10px;
}
